body {
  background-color: #FFF;
  color: #333;
  font-size: 14px;
  font-family: Helvetica;
  margin: 0;
}
a {
  text-decoration: none;
  color: #009BFF;
}
a:hover {
  color: #2a5db0;
}
.img {
  display: block;
  margin: 50px auto 0 auto;
  width: 423px;
  height: 195px;
}
canvas {
	background-color: black;
  padding-left: 0;
  padding-right: 0;
  margin: 50px auto 25px auto;
  display: block;
  width: 750px;
  height: 400px;
}
.about {
  display: block;
  width: 750px;
  margin: 25px auto 25px auto;
  text-align: center;
}
